@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model QRCodeEvidentationApp.Models.DTO.LectureDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Lecture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartsAt" class="control-label"></label>
                <input asp-for="StartsAt" class="form-control datetimepicker" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndsAt" class="control-label"></label>
                <input asp-for="EndsAt" class="form-control datetimepicker" />
                <span class="text-danger"></span>
            </div>
            <div id="lectureDetails" style="display: none;">
                <div class="form-group">
                        <label for="Room">Select Room</label>
                        <select id="RoomId" class="form-control" asp-for="RoomId"></select>
                    </div>
                    <div class="form-group">
                        <label for="Type">Select Room</label>
                        @Html.DropDownListFor(model => model.TypeSelected, new SelectList(Model.Type), "Select a type", new { @class = "form-control", id = "Type" })
                    </div>
                    <div class="form-group">
                        <label asp-for="ValidRegistrationUntil" class="control-label"></label>
                        <input asp-for="ValidRegistrationUntil" id="validRegistrationUntil" class="form-control" />
                        <span asp-validation-for="ValidRegistrationUntil" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="courseGroups" style="display: none;">
                    <label for="GroupCourseId">Select Group of Courses</label>
                    @Html.DropDownListFor(model => model.GroupCourseId, new SelectList(Model.Groups, "Id", "Name"), "Select Group of Courses", new { @class = "form-control", id = "Groups" })
                    </div>
                    @* <div class="form-group" id="courseAssistantGroup" style="display: none;"> *@
                    @*     <label for="CoursesAssistant">Select Assistant</label> *@
                    @*     @Html.DropDownListFor(model => model.CourseAssistantId, new SelectList(Model.CoursesAssistant, "Id", "Course.LastNameRegex"), "Select courses", new { @class = "form-control", id = "CoursesAssistant" }) *@
                    @* </div> *@
                    @* <div class="form-group" id="courseProfessorGroup" style="display: none;"> *@
                    @*     <label for="CoursesProfessor">Select Professor</label> *@
                    @* @Html.DropDownListFor(model => model.CourseProfessorId, new SelectList(Model.CoursesProfessor, "Id", "Course.LastNameRegex"), "Select courses", new { @class = "form-control", id = "CoursesProfessor" }) *@
                    @* </div> *@


                    <input type="hidden" asp-for="Groups" />
                    <input type="hidden" asp-for="CoursesProfessor" />
                    <input type="hidden" asp-for="CoursesAssistant" />
                    <input type="hidden" asp-for="loggedInProfessorId" />
                    
                    <div class="form-group">
                        <input type="submit" value="Save" id="submitBtn" class="btn btn-primary" />
                    </div>
            </div>

            <!-- Error message display -->
            <p id="errorMessage" style="color: red;"></p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let errorMessage = document.getElementById("errorMessage");
            var typeDropdown = document.getElementById("Type");
            //var courseAssistantGroup = document.getElementById("courseAssistantGroup");
            //var courseProfessorGroup = document.getElementById("courseProfessorGroup");
            var courseGroups = document.getElementById("courseGroups");
            var validRegistrationUntilInput = document.getElementById("validRegistrationUntil");
            var submitBtn = document.getElementById("submitBtn");
            var roomDropdown = document.getElementById("RoomId");
            var startsAtInput = document.getElementById("StartsAt");
            var endsAtInput = document.getElementById("EndsAt");
            var lectureDetails = document.getElementById("lectureDetails");

            var allRooms = @Html.Raw(JsonConvert.SerializeObject(Model.AllRooms, new JsonSerializerSettings
                           {
                               ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                           }));
            var lecturesOnSpecificDate = @Html.Raw(JsonConvert.SerializeObject(Model.LecturesOnSpecificDate, new JsonSerializerSettings
                                         {
                                             ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                                         }));

            // Display error message if present
            if ('@Model.ErrMessage') {
                errorMessage.textContent = '@Model.ErrMessage';
            }

            function validateStartAndEnd(){
                var startsAt = new Date(startsAtInput.value);
                var endsAt = new Date(endsAtInput.value);
                
                if (startsAt < new Date(Date.now()) || endsAt < new Date(Date.now())){
                    return;
                }
                
                if (startsAt > endsAt){
                    errorMessage.innerText = "Start date cannot be bigger than end date";                
                }else {
                    errorMessage.innerText = "";
                }

                // Filter and update the room dropdown based on the dates
                filterAvailableRooms(startsAt, endsAt);
            }

            function validateDates() {
                var startsAt = new Date(startsAtInput.value);
                var endsAt = new Date(endsAtInput.value);
                var validRegistrationUntil = new Date(validRegistrationUntilInput.value);
                if (startsAt < validRegistrationUntil && validRegistrationUntil < endsAt) {
                    errorMessage.textContent = "";
                    submitBtn.disabled = false;
                } else {
                    if (lectureDetails.style.display == "block") {
                        errorMessage.textContent = "ValidRegistrationUntil must be between StartsAt and EndsAt.";
                        submitBtn.disabled = true;
                    }
                }
            }

            function filterAvailableRooms(startsAt, endsAt) {
                var occupiedRooms = new Set();
                lecturesOnSpecificDate.forEach(function (lecture) {
                    var lectureStart = new Date(lecture.StartsAt);
                    var lectureEnd = new Date(lecture.EndsAt);

                    if ((startsAt >= lectureStart && lectureEnd >= startsAt) ||
                        (endsAt >= lectureStart && lectureEnd >= endsAt) ||
                        (endsAt >= lectureEnd && startsAt <= lectureStart)) {
                        if (lecture.Room) occupiedRooms.add(lecture.Room.Name);
                    }
                });

                var availableRooms = allRooms.filter(function (room) {
                    return !occupiedRooms.has(room.Name);
                });

                updateRoomDropdown(availableRooms);
                // Show or hide lecture details based on available rooms
                if (availableRooms.length > 0) {
                    lectureDetails.style.display = "block";
                    validateDates()
                } else {
                    lectureDetails.style.display = "none";
                    errorMessage.innerText = "There are no available rooms for the specified time period. Please choose another start time or end time."
                }
            }

            function updateRoomDropdown(availableRooms) {
                // Clear existing options
                roomDropdown.innerHTML = '<option value="">Select a Room</option>';

                roomDropdown.innerHTML = '';

                // Populate new options
                availableRooms.forEach(function (room) {
                    var option = document.createElement("option");
                    option.value = room.Name; // Assuming Room has Id property
                    option.textContent = room.Name;
                    roomDropdown.appendChild(option);
                });
            }

            // Add event listeners for date inputs
            startsAtInput.addEventListener("input", validateStartAndEnd);
            endsAtInput.addEventListener("input", validateStartAndEnd);
            validRegistrationUntilInput.addEventListener("input", validateDates);

            // Initial validation check
            validateDates();
        });
    </script>
}