@model QRCodeEvidentationApp.Models.Lecture

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartsAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartsAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidRegistrationUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidRegistrationUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <button class="disable-lecture-btn btn btn-primary" data-lecture-id="@Model.Id" data-valid-registration-until="@Model.ValidRegistrationUntil">Disable Lecture</button> |
    <button class="btn btn-primary generate-qr-btn" data-lecture-id="@Model.Id">Generate QR</button> |
    <a asp-action="Index">Back to List</a>

    <div id="qrCodeContainer"></div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.disable-lecture-btn').each(function () {
                var validRegistrationUntil = new Date($(this).data('valid-registration-until'));
                var now = new Date();
                if (now > validRegistrationUntil) {
                    $(this).prop('disabled', true);
                }
            });

            $('.disable-lecture-btn').click(function (e) {
                e.preventDefault();
                var button = $(this);
                var lectureId = button.data('lecture-id');
                $.ajax({
                    url: '@Url.Action("DisableLecture")',
                    type: 'POST',
                    data: {
                        id: lectureId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        if (result.success) {
                            alert(result.message);
                            button.prop('disabled', true);
                        } else {
                            alert('Error: ' + result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Error disabling lecture');
                    }
                });
            });

            // Generate QR button click event
            $('.generate-qr-btn').click(function (e) {
                e.preventDefault();
                var button = $(this);
                var lectureId = button.data('lecture-id');

                $.ajax({
                    url: '@Url.Action("GenerateQRCode")',
                    type: 'POST',
                    data: {
                        id: lectureId,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    xhrFields: {
                        responseType: 'blob' // Expect binary response
                    },
                    success: function (blob) {
                        console.log(blob); // Check if this is a Blob
                        if (blob instanceof Blob) {
                            var url = URL.createObjectURL(blob);
                            var qrImage = '<img src="' + url + '" alt="QR Code" />';

                            // Create download link
                            var downloadLink = '<a href="' + url + '" download="QRCode_' + lectureId + '.png">Download QR Code</a>';

                            // Display QR code image and download link in a div
                            $('#qrCodeContainer').html(qrImage + '<br>' + downloadLink);

                            // Clean up the object URL after a short delay
                            setTimeout(() => URL.revokeObjectURL(url), 10000); // Adjust delay as needed
                        } else {
                            console.error('Response is not a Blob');
                        }},
                    error: function (xhr, status, error) {
                        alert('Error generating QR code');
                    }
                });
            });
        });
    </script>
}