@model QRCodeEvidentationApp.Models.DTO.LectureEditDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Lecture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lecture.Id" />
            <input type="hidden" asp-for="lectureId" />
            <input type="hidden" asp-for="lecture.ProfessorId" />
            <div class="form-group">
                <label asp-for="lecture.Title" class="control-label"></label>
                <input asp-for="lecture.Title" class="form-control" />
                <span asp-validation-for="lecture.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lecture.StartsAt" class="control-label"></label>
                <input asp-for="lecture.StartsAt" class="form-control" />
                <span asp-validation-for="lecture.StartsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lecture.EndsAt" class="control-label"></label>
                <input asp-for="lecture.EndsAt" class="form-control" />
                <span asp-validation-for="lecture.EndsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Room">Select Room</label>
                @Html.DropDownListFor(model => model.lecture.RoomName, new SelectList(Model.GetAvailableRooms, "Name", "Name", Model.lecture.RoomName), new { @class = "form-control", id = "RoomId" })
            </div>
            <div class="form-group">
                <label for="Type">Select Type</label>
                @Html.DropDownListFor(model => model.lecture.Type, new SelectList(Model.Type, Model.lecture.Type), new { @class = "form-control", id = "Type" })
            </div>
            <div class="form-group">
                <label asp-for="lecture.ValidRegistrationUntil" class="control-label"></label>
                <input asp-for="lecture.ValidRegistrationUntil" class="form-control" />
                <span asp-validation-for="lecture.ValidRegistrationUntil" class="text-danger"></span>
            </div>
            <div class="form-group" id="courseAssistantGroup" style="display: none;">
                <label for="CoursesAssistant">Select Assistant</label>
                @Html.DropDownListFor(model => model.CourseAssistantId, new SelectList(Model.CoursesAssistant, "Id", "Course.LastNameRegex", Model.lecture.ProfessorId), new { @class = "form-control", id = "CoursesAssistant" })
            </div>
            <div class="form-group" id="courseProfessorGroup" style="display: none;">
                <label for="CoursesProfessor">Select Professor</label>
                @Html.DropDownListFor(model => model.CourseProfessorId, new SelectList(Model.CoursesProfessor, "Id", "Course.LastNameRegex", Model.lecture.ProfessorId), new { @class = "form-control", id = "CoursesProfessor" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <!-- Error message display -->
            <p id="errorMessage" style="color: red;"></p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var typeDropdown = document.getElementById("Type");
            var courseAssistantGroup = document.getElementById("courseAssistantGroup");
            var courseProfessorGroup = document.getElementById("courseProfessorGroup");
            var errorMessage = document.getElementById("errorMessage");

            // Display error message if present
            if ('@Model.ErrMessage') {
                errorMessage.textContent = '@Model.ErrMessage';
            }

            function displayCorrectDropdown(selectedValue) {
                courseAssistantGroup.style.display = "none";
                courseProfessorGroup.style.display = "none";

                if (selectedValue === "Аудиториски") {
                    courseAssistantGroup.style.display = "block";
                } else if (selectedValue === "Предавања") {
                    courseProfessorGroup.style.display = "block";
                }
            }

            // Display the correct dropdown on page load based on the selected value
            displayCorrectDropdown(typeDropdown.value);

            // Add event listener for dropdown change
            typeDropdown.addEventListener("change", function () {
                displayCorrectDropdown(this.value);
            });
        });
    </script>
}