@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model QRCodeEvidentationApp.Models.DTO.LectureEditDto

@{
ViewData["Title"] = "Edit Lecture";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<h4 class="mb-4">Edit Lecture</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lecture.Id" />
            <input type="hidden" asp-for="lectureId" />
            <input type="hidden" asp-for="lecture.ProfessorId" />

            <div class="form-group mb-3">
                <label asp-for="lecture.Title" class="control-label"></label>
                <input asp-for="lecture.Title" class="form-control" />
                <span asp-validation-for="lecture.Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="lecture.StartsAt" class="control-label"></label>
                <input asp-for="lecture.StartsAt" id="StartsAt" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="lecture.EndsAt" class="control-label"></label>
                <input asp-for="lecture.EndsAt" id="EndsAt" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div id="lectureDetails">
                <div class="form-group mb-3">
                    <label for="Type">Select Type</label>
                    @Html.DropDownListFor(model => model.lecture.Type, new SelectList(Model.Type, Model.lecture.Type), new { @class = "form-control", id = "Type" })
                </div>

                <div class="form-group mb-3">
                    <label asp-for="lecture.ValidRegistrationUntil" class="control-label"></label>
                    <input asp-for="lecture.ValidRegistrationUntil" id="validRegistrationUntil" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group mb-3" id="courseGroups">
                    <label for="GroupCourseId">Select Group of Course</label>
                    @Html.DropDownListFor(model => model.GroupCourseId, new SelectList(Model.Groups, "Id", "Name"), "Select Group of Courses", new { @class = "form-control", id = "Groups" })
                </div>
                
                <!-- Submit Button -->
                <div class="form-group text-center mt-4">
                    <input type="submit" value="Save" id="submitBtn" class="btn btn-primary w-100" />
                </div>
            </div>

            <p id="errorMessage" style="color: red;"></p>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var typeDropdown = document.getElementById("Type");
            var courseGroups = document.getElementById("courseGroups");
            var errorMessage = document.getElementById("errorMessage");
            var startsAtInput = document.getElementById("StartsAt");
            var endsAtInput = document.getElementById("EndsAt");
            var validRegistrationUntilInput = document.getElementById("validRegistrationUntil");
            var roomDropdown = document.getElementById("RoomId");
            var submitBtn = document.getElementById("submitBtn");

            // Display error message if present
            if ('@Model.ErrMessage') {
                errorMessage.textContent = '@Model.ErrMessage';
            }

            function validateStartAndEnd(){
                var startsAt = new Date(startsAtInput.value);
                var endsAt = new Date(endsAtInput.value);

                if (startsAt < new Date(Date.now()) || endsAt < new Date(Date.now())){
                    console.log(startsAt + "////" + endsAt)
                    return;
                }

                // Filter and update the room dropdown based on the dates
                filterAvailableRooms(startsAt, endsAt);
            }

            function filterAvailableRooms(startsAt, endsAt) {
                var occupiedRooms = new Set();
                var currentLectureId = '@Model.lectureId';
                lecturesOnSpecificDate.forEach(function (lecture) {
                    var lectureStart = new Date(lecture.StartsAt);
                    var lectureEnd = new Date(lecture.EndsAt);

                    if ((startsAt >= lectureStart && lectureEnd >= startsAt) ||
                        (endsAt >= lectureStart && lectureEnd >= endsAt) ||
                        (endsAt >= lectureEnd && startsAt <= lectureStart)) {
                        if (lecture.Room && !(lecture.Id === currentLectureId)) {
                            occupiedRooms.add(lecture.Room.Name);
                        }
                    }
                });

                var availableRooms = allRooms.filter(function (room) {
                    return !occupiedRooms.has(room.Name);
                });
                
                console.log(availableRooms.length)

                updateRoomDropdown(availableRooms);
                // Show or hide lecture details based on available rooms
                if (availableRooms.length > 0) {
                    errorMessage.innerText = ""
                    lectureDetails.style.display = "block";
                    validateDates()
                } else {
                    lectureDetails.style.display = "none";
                    errorMessage.innerText = "There are no available rooms for the specified time period. Please choose another start time or end time."
                }
            }

            function validateDates() {
                var startsAt = new Date(startsAtInput.value);
                var endsAt = new Date(endsAtInput.value);
                var validRegistrationUntil = new Date(validRegistrationUntilInput.value);
                console.log(startsAt)
                console.log(endsAt)
                console.log(validRegistrationUntil)
                if (startsAt < validRegistrationUntil && validRegistrationUntil < endsAt) {
                    errorMessage.textContent = "";
                    submitBtn.disabled = false;
                } else {
                    if (lectureDetails.style.display == "block") {
                        errorMessage.textContent = "ValidRegistrationUntil must be between StartsAt and EndsAt.";
                        submitBtn.disabled = true;
                    }
                }
            }

            validRegistrationUntilInput.addEventListener("input", validateDates);

            // Initial validation check
            validateDates();


            // Add event listeners for date inputs
            startsAtInput.addEventListener("input", validateStartAndEnd);
            endsAtInput.addEventListener("input", validateStartAndEnd);
            
            validateStartAndEnd()
        });
    </script>
}