@model QRCodeEvidentationApp.Models.DTO.AnalyticsDTO.CourseAnalyticsDTO

@{
ViewBag.Title = "Course Analytics";
Layout = "_Layout";
}

<h1 class="text-center my-4">@ViewBag.Title</h1>

<div class="text-end mb-3">
    <a asp-action="GeneralAnalytics" asp-controller="Courses" asp-route-id="@Model.courseId" class="btn btn-primary">
        Aggregated Analytics
    </a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.lecture.Title)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfAttendees)</th>
            @* <th>@Html.DisplayNameFor(model => model.AtProfessorNumberOfAttendees)</th> *@
            @* <th>@Html.DisplayNameFor(model => model.NotAtProfessorNumberOfAttendees)</th> *@
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.EachLectureAnalytics)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.lecture.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfAttendees)</td>
            @* <td>@Html.DisplayFor(modelItem => item.AtProfessorNumberOfAttendees)</td> *@
            @* <td>@Html.DisplayFor(modelItem => item.NotAtProfessorNumberOfAttendees)</td> *@
            <td class="text-center">
                <div class="btn-group" role="group">
                    <a asp-action="Details" asp-controller="Lectures" asp-route-id="@item.lectureId" class="btn btn-sm btn-primary m-1">Details</a>
                    <a asp-action="GetLectureAnalytics" asp-controller="Lectures" asp-route-id="@item.lectureId" class="btn btn-sm btn-primary m-1">Analytics</a>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
