@model QRCodeEvidentationApp.Models.DTO.AnalyticsDTO.CourseGroupAnalyticsDTO

@{
    ViewBag.Title = "Course Analytics";
    Layout = "_Layout";
}

<h1 class="text-center my-4">@ViewBag.Title</h1>

<div class="text-end mb-3">
    <a asp-action="GeneralAnalytics" asp-controller="LectureGroups" asp-route-id="@Model.courseGroupId" class="btn btn-primary">
        Aggregated Analytics
    </a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Number of attendees</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.lecturesAndAttendees != null && Model.lecturesAndAttendees.Any())
        {
            foreach (var entry in Model.lecturesAndAttendees)
            {
                <tr>
                    <td>@entry.Key.Title</td>
                    <td>@entry.Value</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-action="Details" asp-controller="Lectures" asp-route-id="@entry.Key.Id" class="btn btn-sm btn-primary m-1">Details</a>
                            <a asp-action="GetLectureAnalytics" asp-controller="Lectures" asp-route-id="@entry.Key.Id" class="btn btn-sm btn-primary m-1">Analytics</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">No data available.</td>
            </tr>
        }
        </tbody>
    </table>
</div>