@model IEnumerable<QRCodeEvidentationApp.Models.LectureGroup>

@{
    ViewData["Title"] = "Lecture Groups";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-success">Create New Group</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr id="lecture-group-row-@item.Id">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-warning m-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger m-1 delete-group-btn">Delete</a> |
                        <a asp-action="GetAnalytics" asp-route-id="@item.Id" class="btn btn-sm btn-primary m-1">Analytics</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
